# Node
frontend/node_modules/
frontend/dist/

# Go
backend/main

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup

# Env
.env
backend/.env
